.hidden{
    display: none;
}
body{
    background: linear-gradient(to right, #F018F0, #E64040);
    color: aliceblue;
}
.game{
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top h1{
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
}
#reset{
  background: linear-gradient(135deg, #0641f3, #2c03f7);
  border:black;
  padding:20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.centre{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
}
.check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
#number{
    width: 12rem;
    height: 12rem;
    font-size: 150px;
    text-align: center;
}
#check{
  background: linear-gradient(135deg, #0641f3, #2c03f7);
  border:black;
  width: 8rem;
  padding:20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}.centredisplay{
    display: flex;
    flex-direction: row;
}